certifi==2022.12.7
chardet==3.0.4
defusedxml==0.5.0
Django==1.11.3
django-allauth==0.34.0
django-ranged-response==0.2.0
django-simple-captcha==0.5.6
idna==2.6
Markdown==2.6.11
oauthlib==2.0.6
olefile==0.44
Pillow==4.1.1
Pygments==2.2.0
python3-openid==3.1.0
pytz==2017.2
requests==2.18.4
requests-oauthlib==0.8.0
six==1.11.0
urllib3==1.22
virtualenv==15.1.0
xlrd==1.0.0
xlutils==2.0.0
xlwt==1.2.0
